<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Patrick Moody</title>
	<link rel="stylesheet" href="style.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <div id="content"></div>

  <!-- TEMPLATES -->
  <script type="text/template" id="index-template">
    <div class="title">
      <h1>Hi, I'm Patrick!</h1>
      <h2>I make web apps</h2>
      <p>I like gifs, anything with coconut in it, the smell of fresh cut lawn, and I think <a href="http://www.youtube.com/watch?v=4Ri5cszSKEg" target="_blank">this</a> is the funniest video on the internet. If you like <a href="https://soundcloud.com/flume/the-mixtape" target="_blank">Flume</a> or <a href="http://www.youtube.com/watch?v=HlAS68SGFcA" target="_blank">The Smith Street Band</a> we can definitely be friends!</p>
    </div>
    <div class="container">
      <div class="left_col">
        <img src="images/me.jpg" alt="Patrick Moody" class="circle-wrap" >
      </div>
      <div class="right_col">
        <a href="madebyme.html" class="button">Things I've built</a>

        <ul class="icons">
          <li><i class="icon-map-marker"></i>San Francisco, CA</li>
          <li>
            <a href="http://linkedin.com/in/patrickmoody/" target="_blank">
              <i class="icon-linkedin-sign"></i>LinkedIn
            </a>
          </li>
          <li>
            <a href="https://github.com/patmood" target="_blank">
              <i class="icon-github"></i>Github
            </a>
          </li>
          <li>
            <a href="https://twitter.com/patmood" target="_blank">
              <i class="icon-twitter"></i>Twitter
            </a>
          </li>
        </ul>

        <div class="email-me clicky">Email Me!</div>
      </div>
    </div>
  </script>

  <script type="text/template" id="project-template">
    <div class="site-preview">
      <h2><%= name %></h2>
      <img src=<%= image %> alt=<%= name %>>
      <%= description %>
      <% _.each(links, function(link) { %>
      <a href=<%= link.url %> target="_blank" class="button"><%= link.text %></a>
      <% }) %>
    </div>
  </script>

  <!-- SCRIPTS -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="/script.js"></script>
  <!-- Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48445639-1', 'patmoody.com');
    ga('send', 'pageview');
  </script>

</body>
</html>
